<div class="container">
  <h1> <div class="vinadi">வினாடி வினா</div> <span class="pfname">{{pfname}}</span> </h1>
  <div class="middlediv">
    {{outlet}}
  </div>
  <div class="last">
    <button id="play" class="pro" {{action "play"}} > விளையாட </button>
    <button  id="skip" class="pro" {{action "skip"}} > தவிர்க்க </button>
  </div>
</div>
