<div class="container">
  <h1> QUIZ </h1>
  <div class="middlediv">
    {{outlet}}
  </div>
  <div class="last">
    <button id="play" class="pro" {{action "play"}} > Play </button>
    <button  id="skip" class="pro" {{action "skip"}} > Skip </button>
  </div>
</div>
