<div class="container">
<h1> <div class="front">
  தரமான வினாடி வினா
</div></h1>
<div class="bottom">
    <input type="text" class="pf" id="mail" placeholder="Enter the Email Id ..."><br>
      <input type="password" class="pf" id="password" placeholder="Enter the Password..."><br>
      <input type="password" class="pf" id="cpassword" placeholder="Enter the Confirm Password..."><br>
    <button class="register pro" {{action "register"}}> REGISTER </button>
</div>
<div class="frz">
  தப்பை மன்னிக்கிறவன் மனுஷன்...!!
தப்பே பண்ணாம மன்னிப்பு கேட்குறவன் நண்பன்..!!
</div>
</div>
