<div class="container">
<h1> Quality QUIZ </h1>
<div class="bottom">
    <input type="text" class="pf" id="mail" placeholder="Enter the Email Id ..."><br>
      <input type="password" class="pf" id="password" placeholder="Enter the Password..."><br>
      <input type="password" class="pf" id="cpassword" placeholder="Enter the Confirm Password..."><br>
    <button class="login pro" {{action "login"}}> LOGIN </button>
    <button class="register pro" {{action "register"}}> REGISTER </button>
</div>
</div>
